.contact-container {
  width: 100%;
  flex: 0.9;
  background-color: var(--background-color);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;

  flex-wrap: wrap;

  font-size: 1.5rem;
}

.inputs-container {
  margin-top: 50px;
}

.label,
.inputs-container,
.social-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.label {
  gap: 5px;
  font-weight: bolder;
  text-transform: uppercase;
}

.area,
.input {
  min-width: 500px;
  font-size: 1.3rem;
  padding: 10px 10px;

  border-radius: 15px;
  border: 1px solid var(--letter-color);

  color: var(--letter-color);
  background-color: var(--background-color);
  box-shadow: 1px 1px 2px var(--letter-color);
}

.area {
  min-height: 400px;
}

.social-container {
  margin-top: auto;
  margin-bottom: auto;
  gap: 5px;
}

.social-title {
  color: var(--main-color);
  text-transform: uppercase;
}
.social-container > p:first-of-type {
  margin-bottom: 40px;
}
