.contact-container {
  width: 100%;
  flex: 0.9;
  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  flex-wrap: wrap;

  font-size: 1.5rem;
}

/* inputs */
.inputs-container {
  margin-top: 20px;
  flex: 0.5;
}

.label,
.inputs-container,
.social-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.label {
  gap: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  width: 100%;
}

.area,
.input {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 10px;

  border-radius: 15px;
  border: 1px solid var(--letter-color);

  color: var(--letter-color);
  background-color: var(--background-color);
  box-shadow: 1px 1px 2px var(--letter-color);
}

.area {
  min-height: 300px;
}

.send-button {
  font-size: 1.5rem;
  align-self: flex-start;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: var(--main-color);
  cursor: pointer;
}

.send-button:hover {
  background-color: var(--hover-effect);
}

/* social */
.social-container {
  margin-top: auto;
  margin-bottom: auto;
  gap: 5px;
}

.social-title {
  color: var(--main-color);
  text-transform: uppercase;
}
.social-container > p:first-of-type {
  margin-bottom: 40px;
}

.icons-container {
  display: flex;
  gap: 50px;
}

.icons-container > svg {
  margin: 20px 0 0 20px;
  transform: scale(2);
  cursor: pointer;
}

.icons-container > svg:hover {
  color: var(--main-color);
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .contact-container {
    gap: 50px;
  }

  .input,
  .area {
    min-width: 300px;
  }

  .social-container {
    align-self: flex-start;
    margin-bottom: 50px;
  }
}
