* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --letter-color: #eee;
  --background-color: #111;
  --main-color: #725736;
  --hover-effect: #60513f;
}

body {
  color: var(--letter-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
